* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 60px;
  color: #fff;
  background-color: #46b3df;
}

.trainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
}

.trainer__main {
  display: flex;
  justify-content: center;
  margin-top: 12%;
}

.factor-one, .factor-two, .result {
  margin: 0 10px;
}

.factor-one, .factor-two {
  flex-basis: 70px;
  text-align: center;
}

.result {
  width: 125px;
  padding: 0 10px;
  font-size: 54px;
  color: #fff;
  background-color: transparent;
  border: 3px solid #fff;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
}

.check-button__wrapper {
  margin-bottom: 30px;
  text-align: center;
}

.check-button {
  padding: 5px 25px;
  font-size: 40px;
  line-height: 1.2;
  color: #fff;
  background-color: #13c413;
  border: 1px solid #07ad07;
  border-radius: 5px;
}

.check-button:active {
  opacity: .6;
}

.digits {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px 10px;
  margin: 0 15px;
}

.digit {
  flex: 1 1 15%;
  padding: 10px 0;
  font-size: 40px;
  color: #555;
  background-color: #e8eaed;
  border-radius: 5px;
  text-align: center;
}